@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.float-left{
    float:left;
}
.float-right{
    float:right;
}
.clear-fix{
    overflow:auto;
}


/** Start header first navbar **/

header{
    background: #2C3A47;
}
.nav-container{
    max-width: 1250px;
    margin:0 auto;
    
}

.top-right-nav, .top-left-nav{
    list-style: none;;
}
.top-right-nav li a, .top-left-nav li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 9pt;

}

.top-right-nav li{
   float: left;
   padding: 0px 10px;
}
.top-left-nav li{
    float: left;
    padding: 0px 10px;
 }

 /** End header first navbar **/

 /** Start logo|Search|Shopping-card section **/

 .lsc-container{
    max-width: 1250px;
    padding: 30px 0 10px 0;
    margin:0 auto;
 }
 .logo-container{
    width: 8%;
    padding: 10px;
 }

 .logo-container img{
    width:80px;
 }
 .search-w-bottom-menu-container{
    width: 80%;
 }
 .search-panel{
    padding: 10px;
 }
 .search-panel input{
    width: 90%;
    height: 40px;
    padding-left: 13px;
    color:#666;
    border:none;
    border-radius: 2px;
    box-sizing: border-box;
    font-style: 'Montserrat';
 }

 .search-panel input:focus-visible{
    outline:none;
 }
 .search-panel input:focus{
   
 }


    



