@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Poppins', sans-serif;
    height: 2000px;
}

.float-left{
    float:left;
}
.float-right{
    float:right;
}
.clear-fix{
    overflow:auto;
}


/** Start header first navbar **/

header{
    background: #303952;
}

header li a, header li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 9pt;
}


header li a:hover, header li a:hover {
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    font-size: 9pt;
    
}

.top-left-nav li span{
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 9pt;
    padding: 0 0 0 10px;
}

.nav-container{
    max-width: 1250px;
    margin:0 auto;
    
}

.top-right-nav, .top-left-nav{
    list-style: none;;
}

.top-left-nav li{
   float: left;
   margin-right:5px;
   
}

.top-left-nav li:not(:last-child) a{
    padding: 0px 10px;
    width: 100%;
    border-right: 1px solid #555;
}


.top-right-nav li{
    float: left;
    margin-right:5px;

 }

 .top-right-nav li a{
    padding: 0px 10px;
    /* border: 1px solid black; */
 }

 .top-right-nav li:nth-child(5) a{
    border-left: 1px solid #555;
 }

 .fa-stack-1x{
    position:static !important;
    text-align: unset;
    width: auto !important;
 }


 /** End header first navbar **/

 /** Start logo|Search|Shopping-card section **/

 .lsc-container{
    max-width: 1250px;
    padding: 30px 0 10px 0;
    margin:0 auto;
 }
 .logo-container{
    width: 8%;
    padding: 10px;
 }

 .logo-container img{
    width:80px;
 }
 .search-w-bottom-menu-container{
    margin-top:10px;
    width: 72%;
 }
 .search-panel{
    /* padding: 10px; */
    position:relative;
 }



 .search-panel input{
    width:100%;
    height: 40px;
    padding-left: 13px;
    color:#666;
    border:none;
    border-radius: 2px;
    box-sizing: border-box;
    font-style: 'Montserrat';
 }

 .search-panel input:focus-visible{
    outline:none;
 }

 .search-panel div{
    display: inline;
 }
 .search-icon{
    background-color:#000;
    position:absolute;
    height:100%;
    width:40px;
    text-align:center;
    color: #fff;
    border: 1px solid #fff;
    right:0;

 }
 .search-icon i{
    margin-top:10px;

 }
 .below-search-menu ul{
    list-style-type: none;
 }
 .below-search-menu ul li{
    float: left;
    padding: 0px 10px;

 }
 
 .shopping-cart-container{
    width: 20%;
    text-align:center;
    font-size: 36pt;
    padding: 3px;
    color:#f19066;
 }




    



